<!doctype html>
<html>
<head>
  <title>ImageSelectAnnotator</title>
  <body>
    <h1>ImageSelectAnnotator</h1>
    <div class="adjustment">
      <ul>
        <li>画像比率（現在<span id="currentRatio">12%</span>）：5%<input id="sizeRange" type="range" min="5" max="100" step="1" value="12" />100%</li>
        <li>画像サイズ（横幅<span id="currentSize">200px</span>）：<input id="sizeInput" type="number" placeholder="300">px</li>
        <li>ダウンロード：<button onclick="download()">download</button></li>
      </ul>
    </div>

    <!-- Images are here. -->
    <div id="gallery">
    </div>

    <div class="adjustment">
      <ul>
        <li>ダウンロード：<button onclick="download()">download</button></li>
      </ul>
    </div>
  </body>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
  <script type="text/javascript" src="../static/js/main.js"></script>
  <script type="text/javascript" src="../static/js/sizeChanger.js"></script>
</head>
</html>
